body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
h2 {
    color: rgb(41, 170, 226);
    text-shadow: rgb(66, 139, 202) 1px 0px 1px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.viewlists th{
    background-color: #428BCA;
    padding: 5px;
    text-align: center;
    color: white;
}
.viewlists td{
   
    padding: 5px;
    text-align: center;
}
.viewlists tr:nth-child(even) {
    background-color: #19A657;
    color: white;
}
.viewlists tr:nth-child(odd) {
    color: black;
    background-color: whitesmoke;
    
}
.navbar-inverse {
    background-color: #29ABE2;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-brand:hover {
    color: wheat;
}
.viewlists  a {
    text-decoration: none;
    color: #06fc4f;
}